// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

function Fib.fib 1
// if n < 2
push argument 0
push constant 2
lt
if-goto DIE

// n - 1
push argument 0
push constant 1
sub
call Fib.fib 1

//n - 2
push argument 0
push constant 2
sub
call Fib.fib 1

add
return

label DIE
push argument 0
return


